<div class="card shadow my-4 p-4" *ngIf="data">
    <img src="{{data.sprites.front_default}}" class="img-thumbnail" alt="...">
    <div class="card-body mt-3 text-center">
        <h1 class="card-title fw-bolder">{{data.name}}</h1>
    </div>
    <div class="poke-info"> 
        <div class="stats text-center fw-bolder fs-3 blue-font">
            <span class="first cp-text col-md-6 ">HP {{data.stats[0].base_stat}} / </span>
            <span class="cp-text col-md-6">XP {{data.base_experience}}</span>
            <hr class="seperator mx-3">
        </div>
        <div class="attributes-container fw-bolder">
            <div class="col attribute-content">
                <p class="fw-bolder">Abilities</p>
                <span class="card-text blue-font" *ngFor="let a of data.abilities; let isLast = last">{{a.ability.name}}{{ !isLast ? ' / ' : ''}}</span>
            </div>
            <div class="col attribute-content">
                <p class="fw-bolder">Type</p>
                <span class="card-text blue-font" *ngFor="let t of data.types; let isLast = last">{{t.type.name}}{{ !isLast ? ' / ' : ''}}</span>
            </div>
            <div class="col attribute-content">
                <p class="fw-bolder">Order number</p>
                <span class="card-text blue-font">{{data.id}}</span>
            </div>
            <div class="col attribute-content" *ngIf="evo">
                <p class="fw-bolder">Possible evolutions</p>
                <span class="card-text blue-font" *ngFor="let e of evo.chain.evolves_to">{{e.species.name}}</span>
            </div>
        </div>
        <hr class="seperator mx-3">
        <div class="moves-container">
            <div class="col text-center mt-4">
                <p class="fw-bolder">Moves - <span class="blue-font">{{data.moves.length}} <i class="fas fa-angle-double-down"></i></span></p>
                <ul class="list-group">
                    <li class="list-group-item border-top list-group-item-primary text-dark" *ngFor="let m of data.moves">{{m.move.name}}</li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-4">
            <a routerLink="/" class='btn btn-lg back-btn'><i class="fas fa-reply"></i> Go Back</a>
        </div>
    </div>
        
</div>
