.card {
  border-radius: 2rem;
}

.form-control {
  max-width: 30rem;
  border-radius: 2rem;
}

.btn-search {
  border-radius: 2rem;
  background-color: #263238;
  color: rgb(255, 255, 255);
  &:hover {
    background-color: #3d505a;
  }
}

.btn-details {
  background-color: #3661a8;
  color: #feca1c;
  font-weight: 700;
  border-radius: 2rem;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.pokemon-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #263238;
  text-shadow: 0.8px 0.8px 5px rgba(254, 201, 28, 1);
  &:first-letter {
    text-transform: uppercase;
  }
}
